name: build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  job-test:
    name: Test
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check out source code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          cache: true

      - name: Run lint
        uses: reviewdog/action-golangci-lint@v2

      - name: Run tests
        run: make ci

      - name: Run octocov
        uses: k1LoW/octocov-action@v0

  job-run-test:
    name: Setup test
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out source code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          cache: true

      - name: Run setup test
        run: |
          go run cmd/gh-setup/main.go --repo k1LoW/gh-setup --version v0.6.0 --force
          gh-setup version
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run setup test (no credentials)
        run: |
          env | grep GH_ || true
          env | grep GITHUB_ || true
          go run cmd/gh-setup/main.go --repo k1LoW/gh-setup --version v0.6.0 --force
          gh-setup version
        shell: bash

      - name: Run setup as a action (1/2)
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repo: k1LoW/tbls
          force: true
          gh-setup-version: v0.6.0

      - name: Run setup as a action (2/2)
        run: tbls version
        shell: bash
